# PROJECT. Исследование поведения пользователей

### Загрузка файла, обзор и преобразование данных

In [ ]:
import pandas as pd
events = pd.read_csv('7_4_Events.csv')

In [2]:
events.head(10)

,id,event_type,selected_level,start_time,tutorial_id,user_id
0,28903,registration,NaN,2016-05-11T23:40:55,NaN,12583
1,28904,registration,NaN,2016-05-11T23:49:58,NaN,12584
2,28905,registration,NaN,2016-05-12T00:53:07,NaN,12585
3,28906,tutorial_start,NaN,2016-05-12T01:32:20,17562.0,12585
4,28907,tutorial_finish,NaN,2016-05-12T01:34:53,17562.0,12585
5,28908,tutorial_start,NaN,2016-05-12T02:11:29,17563.0,12584
6,28909,tutorial_finish,NaN,2016-05-12T02:14:14,17563.0,12584
7,28910,level_choice,hard,2016-05-12T05:30:25,NaN,12584
8,28911,pack_choice,NaN,2016-05-12T05:38:24,NaN,12584
9,28912,tutorial_start,NaN,2016-05-12T07:19:01,17564.0,12583

In [3]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252334 entries, 0 to 252333
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              252334 non-null  int64
 1   event_type      252334 non-null  object
 2   selected_level  31086 non-null   object
 3   start_time      252334 non-null  object
 4   tutorial_id     125103 non-null  float64
 5   user_id         252334 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 11.6+ MB

### Отбираем пользователей, которые зарегистрировались в 2018 году (с 1 января по 31 декабря 2018 года включительно)

In [6]:
cond = (events.start_time>='2018-01-01') & (events.start_time<'2019-01-01') & (events.event_type=='registration')
registered = events[cond]['user_id'].to_list() # список пользователей, зарег. в 2018
events18 = events[events.user_id.isin(registered)]
events18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66959 entries, 51405 to 118364
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              66959 non-null  int64
 1   event_type      66959 non-null  object
 2   selected_level  8342 non-null   object
 3   start_time      66959 non-null  object
 4   tutorial_id     32954 non-null  float64
 5   user_id         66959 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 3.6+ MB

In [181]:
events18.describe(include = 'all')

,event_id,event_type,selected_level,start_time,tutorial_id,user_id
count,66959.000000,66959,8342,66959,32954.000000,66959.000000
unique,NaN,5,3,66809,NaN,NaN
top,NaN,registration,medium,2018-03-13T09:37:43,NaN,NaN
freq,NaN,19926,4645,9,NaN,NaN
mean,113787.000045,NaN,NaN,NaN,40532.934393,37781.543362
std,19329.542752,NaN,NaN,NaN,5213.486632,5751.497904
min,80308.000000,NaN,NaN,NaN,31505.000000,27832.000000
25%,97047.500000,NaN,NaN,NaN,36008.250000,32849.000000
50%,113787.000000,NaN,NaN,NaN,40529.500000,37719.000000
75%,130526.500000,NaN,NaN,NaN,45057.750000,42733.000000
max,147267.000000,NaN,NaN,NaN,49554.000000,47757.000000

In [182]:
events18.event_type.unique()

array(['registration', 'tutorial_start', 'tutorial_finish',
       'level_choice', 'pack_choice'], dtype=object)

In [183]:
events18.selected_level.unique()

array([nan, 'medium', 'hard', 'easy'], dtype=object)

In [184]:
events18.user_id.nunique()

19926

### Открываем файл с данными о совершенных транзакциях

In [15]:
purch = pd.read_csv('purchase_-_purchase.csv')

In [16]:
purch.head(10)

      id  user_id       event_datetime  amount
0  15674    12584  2016-05-12T10:34:16     100
1  15675    12985  2016-05-13T08:25:56      50
2  15676    12828  2016-05-13T16:33:46      50
3  15677    12598  2016-05-14T01:09:37     150
4  15678    13037  2016-05-14T01:24:46     100
5  15679    12989  2016-05-14T02:19:20     200
6  15680    12684  2016-05-14T03:10:14     100
7  15681    12656  2016-05-14T03:42:48     100
8  15682    12624  2016-05-14T06:00:45      50
9  15683    13136  2016-05-14T07:31:03      50

In [17]:
purch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5956 entries, 0 to 5955
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              5956 non-null   int64
 1   user_id         5956 non-null   int64
 2   event_datetime  5956 non-null   object
 3   amount          5956 non-null   int64
dtypes: int64(3), object(1)
memory usage: 186.2+ KB

### Отбираем покупки пользователей, зарег. в 2018 году

In [18]:
purch18 = purch[purch.user_id.isin(registered)]
purch18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1600 entries, 1171 to 2778
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1600 non-null   int64
 1   user_id         1600 non-null   int64
 2   event_datetime  1600 non-null   object
 3   amount          1600 non-null   int64
dtypes: int64(3), object(1)
memory usage: 62.5+ KB

In [19]:
purch18.describe()

                 id       user_id       amount
count   1600.000000   1600.000000  1600.000000
mean   17645.505625  37752.766250   110.734375
std      462.038637   5822.621784    54.696628
min    16845.000000  27845.000000    25.000000
25%    17245.750000  32815.750000    50.000000
50%    17645.500000  37633.500000   100.000000
75%    18045.250000  43023.000000   150.000000
max    18452.000000  47742.000000   300.000000

## Предположение №1
### Зависит ли вероятность оплаты от выбранного пользователем уровня сложности?

In [189]:
events18.selected_level.unique()

array([nan, 'medium', 'hard', 'easy'], dtype=object)

### Процент пользователей от каждой группы

In [ ]:
# Общее кол-во зарегистрировавшихся
registered_users_count = events18[events18.event_type == 'registration'].user_id.nunique()

In [202]:
easy_lvl_count = events18[events18.selected_level == 'easy'].user_id.nunique()
easy_lvl_count

2448

In [203]:
percent_of_easy_users = easy_lvl_count / registered_users_count
print ('Процент пользователей, которые выбрали легкий уровень (от числа зарег. пользователей): {:.2%}'.format(percent_of_easy_users))

Процент пользователей, которые выбрали легкий уровень (от числа зарег. пользователей): 12.29%

In [205]:
med_lvl_count = events18[events18.selected_level == 'medium'].user_id.nunique()
med_lvl_count

4645

In [206]:
percent_of_med_users = med_lvl_count / registered_users_count
print ('Процент пользователей, которые выбрали средний уровень (от числа зарег. пользователей): {:.2%}'.format(percent_of_med_users))

Процент пользователей, которые выбрали средний уровень (от числа зарег. пользователей): 23.31%

In [207]:
hard_lvl_count = events18[events18.selected_level == 'hard'].user_id.nunique()
hard_lvl_count

1249

In [208]:
percent_of_hard_users = hard_lvl_count / registered_users_count
print ('Процент пользователей, которые выбрали сложный уровень (от числа зарег. пользователей): {:.2%}'.format(percent_of_hard_users))

Процент пользователей, которые выбрали сложный уровень (от числа зарег. пользователей): 6.27%

### Процент пользователей, оплативших доп. уровни, от каждой группы

In [210]:
easy_lvl_users = events18[events18.selected_level == 'easy'].user_id.unique()
purch_easy = purch18[purch18['user_id'].isin(easy_lvl_users)].user_id.nunique()

In [211]:
percent_of_easy_purch_users = purch_easy / len(easy_lvl_users)
print ('Процент пользователей, которые оплатили вопросы (от числа пользователей, которые выбрали легкий уровень): {:.2%}'.format(percent_of_easy_purch_users))

Процент пользователей, которые оплатили вопросы (от числа пользователей, которые выбрали легкий уровень): 7.72%

In [212]:
med_lvl_users = events18[events18.selected_level == 'medium'].user_id.unique()
purch_med = purch18[purch18['user_id'].isin(med_lvl_users)].user_id.nunique()

In [213]:
percent_of_med_purch_users = purch_med / len(med_lvl_users)
print ('Процент пользователей, которые оплатили вопросы (от числа пользователей, которые выбрали средний уровень): {:.2%}'.format(percent_of_med_purch_users))

Процент пользователей, которые оплатили вопросы (от числа пользователей, которые выбрали средний уровень): 20.86%

In [215]:
hard_lvl_users = events18[events18.selected_level == 'hard'].user_id.unique()
purch_hard = purch18[purch18['user_id'].isin(hard_lvl_users)].user_id.nunique()

In [216]:
percent_of_hard_purch_users = purch_hard / len(hard_lvl_users)
print ('Процент пользователей, которые оплатили вопросы (от числа пользователей, которые выбрали средний уровень): {:.2%}'.format(percent_of_hard_purch_users))

Процент пользователей, которые оплатили вопросы (от числа пользователей, которые выбрали средний уровень): 35.39%

### Присутствует зависимость между выбором уровня и оплатой. Чем выше уровень, тем выше вероятность покупки доп. пакетов.

## Предположение №2

### Существует ли разница во времени между событиями регистрации и оплаты для разных групп пользователей с разным уровнем сложности?

In [217]:
#Датафреймы с событиями оплаты
purch_easy_df = purch18[purch18['user_id'].isin(easy_lvl_users)]
purch_med_df = purch18[purch18['user_id'].isin(med_lvl_users)]
purch_hard_df = purch18[purch18['user_id'].isin(hard_lvl_users)]

In [225]:
purch_easy_df.user_id.value_counts().mean() + purch_med_df.user_id.value_counts().mean() + purch_hard_df.user_id.value_counts().mean() == 3

True

In [218]:
#Датафреймы с событиями выбора уровня сложности
easy_lvl_users = events18[events18.selected_level == 'easy']
med_lvl_users = events18[events18.selected_level == 'medium']
hard_lvl_users = events18[events18.selected_level == 'hard']

In [226]:
easy_lvl_users.user_id.value_counts().mean() + med_lvl_users.user_id.value_counts().mean() + hard_lvl_users.user_id.value_counts().mean() == 3

True

In [227]:
merged_easy = easy_lvl_users.merge(purch_easy_df, on = 'user_id', how = 'inner')
merged_easy.head(10)

,event_id,event_type_x,selected_level,start_time,tutorial_id,user_id,purch_id,event_datetime,amount,event_type_y
0,80488,level_choice,easy,2018-01-04T16:18:39,NaN,27884,16854,2018-01-08T19:37:34,150,purchase
1,81064,level_choice,easy,2018-01-09T21:34:23,NaN,28090,16873,2018-01-15T23:42:55,100,purchase
2,81472,level_choice,easy,2018-01-11T18:44:45,NaN,28182,16865,2018-01-12T02:46:01,200,purchase
3,81513,level_choice,easy,2018-01-11T21:10:51,NaN,28207,16867,2018-01-12T21:00:24,150,purchase
4,81660,level_choice,easy,2018-01-12T16:48:24,NaN,28254,16892,2018-01-19T22:08:40,50,purchase
5,81667,level_choice,easy,2018-01-12T17:23:50,NaN,28247,16884,2018-01-18T18:32:05,150,purchase
6,82042,level_choice,easy,2018-01-15T20:09:23,NaN,28378,16880,2018-01-18T02:11:41,100,purchase
7,82575,level_choice,easy,2018-01-18T13:40:43,NaN,28546,16917,2018-01-23T22:55:27,200,purchase
8,82673,level_choice,easy,2018-01-18T19:38:15,NaN,28528,16895,2018-01-20T10:23:41,150,purchase
9,83896,level_choice,easy,2018-01-24T00:03:33,NaN,28897,16951,2018-01-29T18:41:17,100,purchase

In [228]:
merged_med = med_lvl_users.merge(purch_med_df, on = 'user_id', how = 'inner')
merged_med.head(10)

,event_id,event_type_x,selected_level,start_time,tutorial_id,user_id,purch_id,event_datetime,amount,event_type_y
0,80745,level_choice,medium,2018-01-07T05:29:30,NaN,27973,16869,2018-01-13T21:50:00,150,purchase
1,80761,level_choice,medium,2018-01-07T10:46:14,NaN,27981,16852,2018-01-07T23:20:25,50,purchase
2,80840,level_choice,medium,2018-01-08T00:00:52,NaN,28010,16858,2018-01-10T05:32:47,50,purchase
3,80885,level_choice,medium,2018-01-08T14:47:35,NaN,28020,16863,2018-01-11T21:43:03,50,purchase
4,80900,level_choice,medium,2018-01-08T17:06:39,NaN,28033,16874,2018-01-16T05:08:41,100,purchase
5,80915,level_choice,medium,2018-01-08T19:29:13,NaN,28026,16857,2018-01-09T20:51:27,150,purchase
6,80945,level_choice,medium,2018-01-08T23:06:42,NaN,28035,16860,2018-01-10T13:59:12,150,purchase
7,81095,level_choice,medium,2018-01-10T01:25:28,NaN,28094,16859,2018-01-10T13:44:50,100,purchase
8,81114,level_choice,medium,2018-01-10T04:28:30,NaN,28103,16868,2018-01-12T22:43:04,100,purchase
9,81160,level_choice,medium,2018-01-10T12:46:50,NaN,28068,16864,2018-01-12T00:15:49,25,purchase

In [229]:
merged_hard = hard_lvl_users.merge(purch_hard_df, on = 'user_id', how = 'inner')
merged_hard.head(10)

,event_id,event_type_x,selected_level,start_time,tutorial_id,user_id,purch_id,event_datetime,amount,event_type_y
0,80346,level_choice,hard,2018-01-02T06:19:18,NaN,27845,16845,2018-01-03T18:53:43,100,purchase
1,80459,level_choice,hard,2018-01-04T05:56:32,NaN,27865,16846,2018-01-04T14:46:10,250,purchase
2,80545,level_choice,hard,2018-01-05T11:59:50,NaN,27910,16849,2018-01-07T12:11:34,100,purchase
3,80572,level_choice,hard,2018-01-05T17:39:02,NaN,27911,16848,2018-01-07T08:19:12,50,purchase
4,80620,level_choice,hard,2018-01-06T00:32:47,NaN,27940,16850,2018-01-07T13:16:41,200,purchase
5,80705,level_choice,hard,2018-01-06T20:33:19,NaN,27969,16853,2018-01-08T01:18:23,100,purchase
6,80710,level_choice,hard,2018-01-06T20:56:05,NaN,27965,16851,2018-01-07T22:55:33,100,purchase
7,80788,level_choice,hard,2018-01-07T16:40:53,NaN,27977,16855,2018-01-09T14:09:18,25,purchase
8,80826,level_choice,hard,2018-01-07T21:47:42,NaN,27994,16861,2018-01-11T13:59:06,50,purchase
9,80835,level_choice,hard,2018-01-07T22:49:27,NaN,27998,16870,2018-01-14T02:13:38,100,purchase

### Разница во времени между  выбором уровня и оплатой для разных групп пользователей

In [230]:
merged_easy['timedelta'] = pd.to_datetime(merged_easy['event_datetime']) - pd.to_datetime(merged_easy['start_time'])
merged_easy.head()

,event_id,event_type_x,selected_level,start_time,tutorial_id,user_id,purch_id,event_datetime,amount,event_type_y,timedelta
0,80488,level_choice,easy,2018-01-04T16:18:39,NaN,27884,16854,2018-01-08T19:37:34,150,purchase,4 days 03:18:55
1,81064,level_choice,easy,2018-01-09T21:34:23,NaN,28090,16873,2018-01-15T23:42:55,100,purchase,6 days 02:08:32
2,81472,level_choice,easy,2018-01-11T18:44:45,NaN,28182,16865,2018-01-12T02:46:01,200,purchase,0 days 08:01:16
3,81513,level_choice,easy,2018-01-11T21:10:51,NaN,28207,16867,2018-01-12T21:00:24,150,purchase,0 days 23:49:33
4,81660,level_choice,easy,2018-01-12T16:48:24,NaN,28254,16892,2018-01-19T22:08:40,50,purchase,7 days 05:20:16

In [231]:
merged_easy['timedelta'].mean()

Timedelta('3 days 14:58:52.941798941')

In [233]:
merged_easy['timedelta'].describe()

count                          189
mean     3 days 14:58:52.941798941
std      2 days 07:06:35.644097504
min                0 days 00:49:20
25%                1 days 17:18:56
50%                3 days 06:03:50
75%                5 days 06:58:18
max               10 days 18:35:09
Name: timedelta, dtype: object

In [237]:
merged_med['timedelta'] = pd.to_datetime(merged_med['event_datetime']) - pd.to_datetime(merged_med['start_time'])
merged_med.head()
merged_med['timedelta'].mean()

Timedelta('3 days 23:14:13.165118679')

In [236]:
merged_med['timedelta'].describe()

count                          969
mean     3 days 23:14:13.165118679
std      2 days 06:18:57.618467109
min                0 days 04:18:12
25%                2 days 01:20:07
50%                3 days 19:53:19
75%                5 days 16:07:19
max               10 days 13:51:01
Name: timedelta, dtype: object

In [238]:
merged_hard['timedelta'] = pd.to_datetime(merged_hard['event_datetime']) - pd.to_datetime(merged_hard['start_time'])
merged_hard.head()
merged_hard['timedelta'].mean()

Timedelta('3 days 07:20:41.420814479')

In [239]:
merged_hard['timedelta'].describe()

count                          442
mean     3 days 07:20:41.420814479
std      1 days 21:43:52.953292605
min                0 days 03:26:45
25%         1 days 14:57:23.500000
50%         3 days 03:13:57.500000
75%         4 days 19:16:00.250000
max                8 days 01:18:13
Name: timedelta, dtype: object

### Опредленной зависимости между событиями регистрации и оплаты для разных групп пользователей с разным уровнем сложности нет.
### Наибольшее время между событием выбора уровня сложности и моментом первой оплаты, тратят пользователи, которые выбрали уровень сложности "medium". Для них среднее время составляет 3 дня 23 часа. 
### Меньше всего времени тратят, пользователи, выбравшие уровень  "hard" - 3 дня 7 часов.
### Пользователи, которые выбрали уровень "easy", тратят 3 дня 15 часов.